
#mainMenu {
    -fx-background-color: #111111;
}

#content, #main {
    -fx-background-color: #272727;
}

#menu {
    -fx-background-color: #272727;
}

#addNew {
    -fx-background-color: #575757;
}

#menu .label {
    -fx-font-family: Corbel Bold;
    -fx-text-fill: #f4f4f4;
    -fx-font-size: 20;
    -fx-cursor: HAND;
    -fx-text-alignment: CENTER;
}

#addNew .label, #searchLabel {
    -fx-font-family: Corbel;
    -fx-text-fill: #f4f4f4;
    -fx-font-size: 18;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-color: #f4f4f4;
    -fx-font-family: Corbel;
    -fx-font-size: 16;
    -fx-text-fill: #f4f4f4;
    -fx-cursor: TEXT;
}

.text-input:error {
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-border-width: 2px;
    -fx-border-color: red;
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: derive(red, 99%);
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: #f4f4f4;
    -fx-border-radius: 5;
    -fx-font-family: Corbel;
    -fx-text-fill: #f4f4f4;
    -fx-cursor: HAND;
}



